<!DOCTYPE html>
<html>
    <head>
        <title>Pharma Online</title>
        <style type = "text/css">
            body{background-color:rgb(0, 255, 0)}
            h1{text-align:center;}
            .joinha{padding-left:500px;}

        </style>
    </head>

    <body>
        <h1>Compra finalizada com Sucesso!</h1>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <img  class = 'joinha'src = "{{ url_for('static', filename='css/fotos/joinha.png') }}"/>

    </body>
</html>